* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

div {
  margin: 0 auto;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 42px;
  letter-spacing: -1px;
  padding: 12px;
  text-transform: uppercase;
}

a {
  color: #30d8a4;
  text-decoration: none;
}



  /* ----- MAIN ----- */

img {
  display: block;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
 
h1 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 40px;
}

.main-content {
  width: 55%;
}

.login-form {
  margin-top: 30px;
  width: 62%;
}

i {
  color: #fff;
  background-color: #d9534f;
  margin-right: 5px;
}

.login-btn {
  background-color: #d9534f;
  border: #d9534f;
  border-style: none;
  display: inline-block;
  font-size: 19px;
  width: 218px;
}

hr {
  background-color: #e8e8e8;
  border: 0 none;
  color: #e8e8e8;
  height: 1px;
}

.login-email {
  margin-top: 18px;
}

h2 {
  font-size: 22px;
  font-weight: 200;
}

form {
  margin-top: 18px;
  position: relative;
}


span.email, 
span.pwd {
  color: #555;
  background-color: #eee;
  border-radius: 5px 0 0 5px;
  border-left-width: 2px;
  border-left-color: #e8e8e8;
  height: 45px;
  padding: 12px;
  position: absolute;
  width: 105px;
}

span.email {
  margin-top: 2px;
}

input[type=email], 
input[type=password]{
  border-radius: 5px;
  font-size: 16px;
  height: 45px;
  padding-left: 125px;
  width: 100%;
}

input[type=email] {
  margin: 2px 0 20px 0;
}

span.pwd, 
input[type=password] {
  border-top-width: 2px;
  border-top-color:#e8e8e8;
}

span.email, 
input[type=email] {
  border-bottom-width: 2px;
  border-bottom-color:#e8e8e8;
}

span.email, 
input[type=email], 
span.pwd,
input[type=password] {
  border: 1px solid lightgray;
}

p.forgot_pwd {
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
  text-align: left;
}

.submit-btn {
  background-color: #337ab7;
  border: #2e6da4;
  width: 90px;
}



  /* ----- FOOTER ----- */

.footer {
  width: 100%;
  height: 50px;
  margin-top: 110px;
}

.footer-nav {
  font-size: 14px;
  margin: 0 180px;
}

.footer p {
  float: left;
  padding-left: 45px;
}

.links {
  float: right;
  padding-right: 45px;
}

.links ul {
  list-style: none;
}

.links ul li {
  display: inline-block;
}

.social {
  cursor: pointer;
}

.line {
  color: #e8e8e8;
}

